<!doctype html>
<html lang="en" class="h-100">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
  <header>
    <!-- Кнопка "Домой", ведущая на главную страницу -->
    <a href="{% url 'orders' %}" class="home-button">
      <img src="http://127.0.0.1:9000/image/home.png" alt="Домой" class="home-icon">
    </a>
   
  </header>

  <!-- Условное отображение кнопки корзины только на странице 'orders' -->
  {% if request.resolver_match.url_name == 'orders' %}
  <a href="{% url 'cart' %}" class="cart-button">
    <img src="http://127.0.0.1:9000/image/cart.png" alt="Корзина" class="cart-icon">
    <span class="cart-count">0</span> 
  </a>
  {% endif %}
  
  {% block content %}{% endblock %}
</body>
</html>
