{% extends "base.html" %}

{% block content %}
    <main class="container">
        <div class="row d-flex justify-content-between">
            <div class="col md-8">
                <form class="search-bar" action="/" method="GET">
                    <div class="row">
                        <div class="col-md-8">
                            <input type="text" class="form-control" placeholder="Введите фио студента" name="student_name" value="{{ student_name }}">
                        </div>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-primary w-100 search-btn">Поиск</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col md-4 justify-end">
                <a href="/decrees/{{ draft_decree.id }}/" class="w-0">
                    <button type="submit" class="bin btn btn-primary position-relative w-100">
                        <img src="http://localhost:9000/images/cart.png" alt="Корзина" style="max-width: 100%; height: auto;">
                        <div class="badge position-absolute badge rounded-pill">
                            {{ students_count }}
                        </div>
                    </button>
                </a>
            </div>            
        </div>
        <div class="cards-wrapper">
            {% for student in students %}
                {% include "student_card.html" %}
            {% endfor %}
        </div>
    </main>
{% endblock content %}

