{% load static %}

{% if "http://localhost:8000/decrees/" in request.build_absolute_uri or "http://127.0.0.1:8000/decrees/" in request.build_absolute_uri %}

    <div class="card w-100 mb-5">
        <div class="row g-0">
            <div class="col-md-6 d-flex justify-center">
                <img src="{{ student.image }}" style="width: 150px">
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h5 class="card-title">{{ student.name }} </h5>
                    <p class="card-text">Группа: {{ student.group }}</p>
                    <div class="form-group">
                        <label class="form-label">Количество долгов</label>
                        <input disabled class="form-control" style="width: 150px" value="{{ student.count }}">
                    </div>
                    <a href="/students/{{ student.id }}/" class="btn btn-primary" style="width: 100px">
                        Открыть
                    </a>
                </div>
            </div>
        </div>
    </div>

{% else %}

    <div class="card">
        <img src="{{ student.image }}" class="student-preview" alt=""/>
        <div class="card-body">
            <div class="card-info">
                <h5 class="card-title">{{ student.name }}</h5>
                <p class="card-text">Группа: {{ student.group }}</p>
            </div>
            <div class="card-btns d-flex justify-content-between">
                <!-- Кнопка для открытия студента -->
                <a href="/students/{{ student.id }}/" class="btn btn-primary center">
                    Открыть
                </a>
                <!-- Кнопка для добавления студента в корзину -->
                <a href="{% url 'add_to_decree' student.id %}" class="btn btn-success center">
                    В корзину
                </a>
            </div>
        </div>
    </div>

{% endif %}
